* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  min-width: 100vw;
  overflow-x: hidden;
}

.navbar {
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 30px;
  position: absolute;
  top: 0;
  color: rgba(255, 255, 255, 0.8862745098);
  z-index: 999999;
}
.navbar .humberSection {
  display: none;
}
.navbar .logo {
  font-family: "Poppins", sans-serif;
  font-size: 50px;
  font-weight: bold;
  color: red;
}
.navbar .logo h3 {
  font-size: 37px;
}
.navbar .logo h3 .port {
  color: rgba(255, 255, 255, 0.8862745098);
}
.navbar .linkSection ul {
  transition-timing-function: cubic-bezier(0.39, 0.575, 0.565, 1);
}
.navbar .linkSection ul .fa-xmark {
  display: none;
  position: absolute;
  top: 50px;
  right: 50px;
  font-size: 25px;
  transition: all 0.5s;
  cursor: pointer;
}
.navbar .linkSection ul li {
  display: inline-block;
  margin: 0 20px;
  font-size: 18px;
  list-style: none;
}
.navbar .linkSection ul li .navlink {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.8862745098);
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  transition: all 0.5s;
}
.navbar .linkSection ul li .navlink:hover {
  color: red;
}
.navbar a {
  color: red;
  text-decoration: none;
}
.navbar .emailSection {
  text-align: center;
}
.navbar .emailSection .emailinkText {
  color: rgba(255, 255, 255, 0.8862745098);
}
.navbar .iconsSection {
  text-align: start;
  margin: 10px 0;
}
.navbar .iconsSection .fa-facebook-f,
.navbar .iconsSection .fa-twitter,
.navbar .iconsSection .fa-globe {
  margin: 0 10px;
  font-size: 25px;
  color: white;
  cursor: pointer;
  z-index: 1;
}
.navbar .iconsSection .fa-facebook-f:hover,
.navbar .iconsSection .fa-twitter:hover,
.navbar .iconsSection .fa-globe:hover {
  color: white;
  transition: all 0.5s;
}

@media screen and (max-width: 890px) {
  .navbar .logo h3 {
    font-size: 30px;
  }
  .navbar .linkSection ul li {
    margin: 0 20px;
    font-size: 15px;
  }
  .navbar .emailSection {
    font-size: 10px;
  }
  .navbar .emailSection .emailinkText {
    color: rgba(255, 255, 255, 0.8862745098);
  }
}
@media screen and (max-width: 767px) {
  .navbar .linkSection ul {
    position: fixed;
    width: 300px;
    height: 100vh;
    top: 0;
    left: -100%;
    transition: all 0.5s;
    background-color: rgb(0, 0, 0);
    -webkit-backdrop-filter: blur(15px);
            backdrop-filter: blur(15px);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .navbar .linkSection ul .fa-xmark {
    display: block;
  }
  .navbar .linkSection ul li {
    display: flex;
    flex-direction: column;
    margin: 15px 0;
    font-size: 15px;
  }
  .navbar .linkSection .hide {
    left: -100%;
  }
  .navbar .emailSection {
    display: block;
    margin-left: -57%;
  }
  .navbar .iconsSection {
    text-align: start;
    margin-left: 0 90%;
  }
  .navbar .iconsSection .fa-facebook-f,
  .navbar .iconsSection .fa-twitter,
  .navbar .iconsSection .fa-globe {
    margin: 0 10px;
    font-size: 20px;
    position: relative;
    left: -90%;
  }
  .navbar .humberSection {
    display: block;
    position: relative;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: all 0.5s;
  }
  .navbar .humberSection .line {
    position: relative;
    background-color: rgba(255, 255, 255, 0.5);
    width: 25px;
    transition: all 1s;
    margin-top: 4px;
  }
  .navbar .humberSection .line1 {
    width: 15px;
    align-self: flex-start;
    height: 2px;
  }
  .navbar .humberSection .line2 {
    width: 20px;
    height: 2px;
  }
  .navbar .humberSection .line3 {
    width: 15px;
    align-self: flex-end;
    height: 2px;
  }
}
@media screen and (max-width: 650px) {
  .navbar .emailSection {
    margin-left: -59%;
  }
}
@media screen and (max-width: 500px) {
  .navbar .iconsSection .fa-facebook-f,
  .navbar .iconsSection .fa-twitter,
  .navbar .iconsSection .fa-globe {
    font-size: 13px;
    left: -50px;
  }
  .navbar .logo {
    font-size: 10px;
  }
  .navbar .logo h3 {
    font-size: 20px;
  }
  .navbar .humberSection {
    font-size: 13px;
  }
  .navbar .humberSection .line1 {
    width: 13px;
    height: 2px;
  }
  .navbar .humberSection .line2 {
    width: 18px;
    height: 2px;
  }
  .navbar .humberSection .line3 {
    width: 13px;
    align-self: flex-end;
    height: 2px;
  }
}
.homeSection {
  width: 100vw;
  height: 600px;
  position: relative;
  background: url("images/pexels-anete-lusina-4792729.jpg");
  z-index: 9;
  padding: 0 !important;
  margin: 0 !important;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-position: center center;
  background-size: cover;
  /* If fade out option is set */
}
.homeSection h1 {
  z-index: 999;
  color: white;
}
.homeSection .typed {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  font-weight: bold;
  margin: 20px 0;
}
.homeSection .typed h1 {
  font-size: 60px;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
}
.homeSection .typed-cursor {
  margin: -30px 0;
  font-size: 80px;
  color: white;
  font-weight: bold;
  font-family: "Poppins", sans-serif;
}
.homeSection .typed-fade-out {
  color: blue;
  background-color: crimson;
  font-size: 100px;
  font-family: "Poppins", sans-serif;
}
.homeSection::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgb(0, 0, 0);
  background-position: center center;
  background-size: cover;
  z-index: -1;
  opacity: 0.8;
}

.btn {
  border-radius: 50px;
  padding: 10px 40px;
  font-size: 14px;
  border: 1px solid red;
  color: red;
  margin: 20px 0;
  transition: all 0.5s;
}
.btn:hover {
  color: rgba(255, 255, 255, 0.8862745098);
  background-color: red;
}
.btn:hover .navlink {
  color: rgba(255, 255, 255, 0.8862745098);
}
.btn .navlink {
  text-decoration: none;
  color: red;
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  transition: all 0.5s;
}

.arrowparent {
  background-color: transparent;
  border: none;
  color: rgba(255, 255, 255, 0.8862745098);
  position: absolute;
  bottom: 100px;
}
.arrowparent .arrowbtn {
  font-size: 90px;
  animation: Animatated 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0s infinite alternate;
}

@keyframes Animatated {
  0% {
    transform: translateY(0%);
  }
  100% {
    transform: translateY(50px);
  }
}
.welcome {
  font-family: "Raleway", sans-serif;
}

@media screen and (max-width: 991px) {
  .homeSection .typed h1 {
    font-size: 50px;
  }
  .homeSection .typed-cursor {
    font-size: 55px;
    margin: -12px 0;
  }
}
@media screen and (max-width: 767px) {
  .homeSection .typed h1 {
    font-size: 45px;
  }
  .homeSection .typed .typed-cursor {
    font-size: 45px;
    margin: -7px 0;
  }
}
@media screen and (max-width: 650px) {
  .homeSection .typed h1 {
    font-size: 40px;
  }
  .homeSection .typed .typed-cursor {
    font-size: 45px;
    margin: -10px 0;
  }
}
@media screen and (max-width: 500px) {
  .homeSection .typed h1 {
    font-size: 30px;
  }
  .homeSection .typed .typed-cursor {
    font-size: 29px;
    margin: -5px 0;
  }
}
.aboutSection {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  height: auto;
  background-color: rgb(0, 0, 0);
  color: white;
  margin: 0px 0 !important;
  padding: 0 !important;
}
.aboutSection .container .row {
  padding: 40px 0;
}
.aboutSection .container .row .team-section {
  padding: 0 30px;
  text-align: left;
}
.aboutSection .container .row .team-section p {
  line-height: 30px;
}
.aboutSection .container .row .team-section h1 {
  color: red;
}
.aboutSection .container .row .team-section h5 {
  padding: 10px 20px;
  color: red;
  font-family: "Oswald", sans-serif;
}
.aboutSection .container .row .team-section .imgBorder {
  border: none;
  padding: 0;
  overflow: hidden;
}
.aboutSection .container .row .team-section .imgBorder img {
  width: 100%;
  -o-object-position: 50% 90%;
     object-position: 50% 90%;
  -o-object-fit: cover;
     object-fit: cover;
}
.aboutSection .container .row .team-section .imgBorder img:hover {
  transform: scale(1.25, 1.25);
  transform-origin: center;
  transition: all 20s;
}
.aboutSection .container .row .WorkSection .container-fluid .row .team-section {
  border-right: 1px solid rgba(255, 255, 255, 0.1);
  text-align: center;
  padding: 0 30px;
}
.aboutSection .container .row .WorkSection .container-fluid .row .team-section h1,
.aboutSection .container .row .WorkSection .container-fluid .row .team-section h5 {
  color: gray;
}
.aboutSection .container .row .WorkSection .container-fluid .row .team-section:nth-last-of-type(1) {
  border-right: none;
}
.aboutSection .container .row .download {
  text-align: center;
  margin: 30px 0;
}
.aboutSection .container .row .download .downloadCV {
  background-color: red;
  border: none;
  padding: 8px 40px;
  border-radius: 50px;
  font-size: 14px;
  text-decoration: none;
  color: white;
}
.aboutSection .container .row .download .downloadCV {
  border: none;
}

@media screen and (max-width: 767px) {
  .aboutSection {
    height: auto;
  }
  .aboutSection .container .row .team-section {
    text-align: start;
    margin: 10px 0;
  }
  .aboutSection .container .row .team-section .iconsSection {
    text-align: center;
  }
  .aboutSection .container .row .team-section .iconsSection h5 {
    text-align: start;
  }
  .aboutSection .container .row .team-section .BioSection {
    order: 1;
  }
  .aboutSection .container .row .team-section .imgSection {
    order: 2;
  }
  .aboutSection .container .row .WorkSection .container-fluid .row .team-section {
    padding: 0 30px;
    text-align: start;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .aboutSection .container .row .WorkSection .container-fluid .row .team-section h5 {
    text-align: center;
    margin: 0 -50px;
    font-size: 16px;
    text-align: center;
  }
  .aboutSection .container .row .WorkSection .container-fluid .row .team-section h1 {
    text-align: center;
  }
}
@media screen and (max-width: 576px) {
  .aboutSection .container .row .WorkSection .container-fluid .row {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .aboutSection .container .row .WorkSection .container-fluid .row .team-section {
    border: none;
  }
}
#skills {
  width: 100vw;
  height: auto;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0;
}
#skills .container .row .skillHeading {
  font-size: 50px;
  padding: 50px 0;
  color: red;
}
#skills .container .row .skill-team {
  padding: 10px 0;
  display: flex;
  justify-content: flex-start;
  text-align: center;
}
#skills .container .row .skill-team .skillIcon {
  font-size: 35px;
}
#skills .container .row .skill-team .skillName {
  text-align: center;
  text-align: end;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 18px;
  color: white;
}

@media screen and (max-width: 576px) {
  #skills .container .row .skill-team {
    flex-direction: column;
  }
  #skills .container .row .skill-team .skillName {
    text-align: center;
  }
}
@media screen and (max-width: 450px) {
  #skills .container .row .skill-team .skillIcon {
    font-size: 25px;
  }
  #skills .container .row .skill-team .skillName {
    font-size: 13px;
  }
}
.projectSection {
  background-color: black;
  padding: 40px 0;
}
.projectSection .container .projectHeading {
  font-size: 50px;
  padding: 50px 0;
  color: red;
}
.projectSection .container {
  position: relative;
}
.projectSection .container .row .images {
  padding: 0 10px;
}
.projectSection .container .row .images .imgparent {
  width: 100%;
  height: 350px;
  margin: 10px 0;
  background-color: black;
  position: relative;
}
.projectSection .container .row .images .imgparent:hover .imgHover {
  display: flex;
  justify-content: center;
  align-items: center;
}
.projectSection .container .row .images .imgparent img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center 5%;
     object-position: center 5%;
  cursor: pointer;
  border-radius: 5px;
}
.projectSection .container .row .images .imgparent .imgHover {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 0;
  left: 0;
  flex-direction: column;
  transition: all 0.5s;
  display: none;
}
.projectSection .container .row .images .imgparent .imgHover .detailBtn {
  border: none;
  padding: 8px 40px;
  border-radius: 50px;
  background-color: red;
  color: white;
}

.imgDeteal {
  z-index: 999999;
  color: black;
  position: fixed;
  bottom: 0;
  background-color: rgb(0, 0, 0);
  padding: 20px 0;
  width: 100vw;
  top: 0;
  overflow-y: scroll;
  height: 100vh;
  transition: all 0.5s !important;
  transform-origin: top;
}
.imgDeteal .container {
  transition: all 0.5s;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.886);
  padding: 20px;
}
.imgDeteal .container .fa-xmark {
  color: black;
  right: 20px;
  top: 15px;
  font-size: 25px;
  cursor: pointer;
  position: absolute;
}
.imgDeteal .container .row .image {
  height: 100%;
}
.imgDeteal .container .row .image img {
  width: 100%;
}
.imgDeteal .container .row .content {
  font-family: "Space Grotesk", sans-serif;
}
.imgDeteal .container .row .content .detailparagrapgh .projectHeading {
  padding: 0;
  font-size: 30px;
  font-family: "Space Grotesk", sans-serif;
}
.imgDeteal .container .row .content .info .team-section {
  display: flex;
  align-items: flex-start;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding: 10px 0;
}
.imgDeteal .container .row .content .info .team-section h2 {
  font-size: 20px;
}
.imgDeteal .container .row .content .info .team-section p {
  font-size: 15px;
  margin: 3px 10px;
  font-family: "Space Grotesk", sans-serif;
}
.imgDeteal .container .row .content .info .team-section a {
  text-decoration: none;
  margin: 0 10px;
}
.imgDeteal .container .row .content .info .share {
  border-bottom: none;
}
.imgDeteal .container .row .content .info .share .fa-square-facebook, .imgDeteal .container .row .content .info .share .fa-square-twitter, .imgDeteal .container .row .content .info .share .fa-google-plus, .imgDeteal .container .row .content .info .share .fa-square-instagram, .imgDeteal .container .row .content .info .share .fa-envelope {
  margin: 3px 10px;
  font-size: 20px;
}

#Contacts {
  background-color: black;
}
#Contacts .container .row {
  background-color: black;
  width: 100vw;
  height: 100vh;
}
#Contacts .container .row .contactheading h1 {
  font-size: 50px;
  color: red;
}
#Contacts .container .row .form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#Contacts .container .row .form .namesection input,
#Contacts .container .row .form .emailandphonesection input {
  border: 1px solid red;
  background-color: transparent;
  color: white;
  padding: 8px 0;
  padding-right: 60px;
  padding-left: 20px;
  margin: 20px 10px;
  outline: 1px solid red;
}
#Contacts .container .row .form .namesection input::-moz-placeholder, #Contacts .container .row .form .emailandphonesection input::-moz-placeholder {
  color: white;
}
#Contacts .container .row .form .namesection input::placeholder,
#Contacts .container .row .form .emailandphonesection input::placeholder {
  color: white;
}
#Contacts .container .row .form .messagesection textarea {
  padding: 8px 0;
  outline: 1px solid red;
  background-color: transparent;
  border: 1px solid red;
  color: white;
  padding-left: 20px;
  padding-right: 140px;
}
#Contacts .container .row .form .messagesection textarea::-moz-placeholder {
  color: white;
}
#Contacts .container .row .form .messagesection textarea::placeholder {
  color: white;
}
#Contacts .container .row .form .submitesection input {
  border: 1px solid red;
  background-color: transparent;
  padding: 8px 0;
  padding-right: 40px;
  padding-left: 20px;
  color: white;
}/*# sourceMappingURL=App.css.map */